body {
    display: flex;
    margin: 5%;
}

.container {
    display: flex;
    border: 2px solid rgb(4, 155, 255);
    width: 200px;
    height: 50px;
    /*background-color: brown;*/
}

/* or .container > * */ 
.pixel {
    display: flex;

}