html,
body {
  display: flex;
  /*margin: 5%;*/
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  border: 2px solid rgb(4, 155, 255);
  /*border-radius: 4px;*/
  aspect-ratio: 1;
  width: 80%;
  flex-wrap: wrap;
}

/* or .pixel */
.container > * {
  border: 1px solid rgba(0, 0, 255, 0.25);
  /*background-color: rgb(222, 251, 255);*/
  width: 1.28%;
}

.pixel:hover {
  background-color: rgba(98, 124, 145, 0.32);
}
